/* Container styles */
.finance-container {
  max-width: 1024px;
  margin: 0 auto;
  /* background-color: #faf9f4;  */
  padding: 1.5rem;
  border-radius: 0.5rem;
  }

  /* Grid layout */
  .course-grid {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 1.5rem;
}
  
  @media (min-width: 800px) {
    .course-grid {
      grid-template-rows: repeat(3, 1fr);
    }
  }
  
  /* Card styles */
  .course-card {
    position: relative;
    overflow: hidden;
    /* background-color: white; */
    border-radius: 0.75rem;
    /* transition: all 0.3s ease; */
  }
  
  /* .course-card.hovered {
    transform: scale(1.05);
  }
   */
  .card-accent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
  }
  
  .card-content {
    padding: 1.5rem;
  }
  
  /* Course header */
  .course-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  
  .course-title {
    font-size: 1.7rem;
    font-weight: 600;
    color: #84c225;
  }
  
  .course-description {
    font-size: 1.3rem;
    color: #84c225;
    margin-bottom: 1rem;
  }
  
  /* Highlights section */
  .course-highlights {
    margin-bottom: 1.5rem;
  }
  
  .highlight-item {
    display: flex;
    align-items: flex-start;
    margin-top: 0.5rem;
  }
  
  .highlight-bullet {
    color: #ffffff;
    margin-right: 0.5rem;
    margin-top: 1rem;
  }
  
  .highlight-text {
    font-size: 1rem;
    color: #ffffff;
  }
  
  /* Card footer */
  .card-footer {
    display: flex;
    align-items: right;
    justify-content: flex-end;
    padding-top: 0.5rem;
    /* border-bottom: 1px solid #f3f4f6; */
  }
  
  .course-button {
    display: flex;
    align-items: center;
    background : transparent;
    color: #84c225;
    border: 1px solid #84c225;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
  }
  
  .course-button:hover {
    background-color: #84c225;
    color: #3b3531;
  }
  
  .button-icon {
    display: flex;
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
  }
  
  .course-button:hover .button-icon {
    transform: translateX(4px);
  }
  
