
h2{
    text-align: center;
}


html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
/*     overflow-x: hidden; */
  }
  

.Information-info {
    margin: 20px;
    padding: 20px;
    /* background: white; */
    border-radius: 10px;
}

.Information-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.card1 {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: auto;
    text-align: center;
    color: #3b3531;
}

.card1 img {
    width: 100px;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
    .Information-cards {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .card1 {
      width: 90%;
    }
  
    .card1 img {
      width: 80px;
    }
  }

